.cc_radio, .cc_checkbox {
	display: inline-block;
	border-radius: 10px;
	background-color: purple;
	padding: 10px 12px;
	cursor: default;

	&.cc_checked {
		background-color: #f60;
	}

	&.cc_disabled {
		background-color: #ccc;
		color: #666;
	}
}

.cc_radio {
	background-color: purple;
	color: white;

	&.cc_checked {
	}
}

.cc_checkbox {
	background-color: indigo;
	color: white;

	&.cc_checked {
	}
}

.cc_empty {
	width: 12px; height: 12px;
	vertical-align: middle;

	&.cc_checked {
	}
}
